test/input/attr-el-same-name.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="RootType">
        <xsd:sequence>
            <xsd:element name="child" type="xsd:positiveInteger"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name="child" type="xsd:positiveInteger" />
    </xsd:complexType>
    <xsd:element name="root" type="RootType" />
</xsd:schema>